@font-face {
    font-family: Noodles-Regular;
    src: url("../src/fonts/Noodles-Regular.ttf");
}
body{
    margin: 0;
}
header{
    height: 4rem;
    padding: 0 1rem 0 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: gainsboro;
}
.logo{
    height: 4rem;
    display: flex;
    gap: 2px;
}
.contacts{
    display: flex;
    gap: 1rem;   
}
.contacts button{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
}
header h3{
    font-family: Noodles-Regular;
    font-size: 3rem;
    position: relative;
    top: -38px;
}
main{
    background-image: url("../src/images/background.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 34rem;
    position: relative;
}
.containerRigth{
    

}
.containerLeft{
    text-align: center;
    border-radius: 5%;
    background-color: gray;
    opacity: 0.8;
    box-shadow: 5px 5px 10px 5px;
    height: 90%;
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
}
footer{
    background-color: gainsboro;
    height: 4rem;

}
footer p{
    text-align: center;
    opacity: 0.5;
    margin: 0;
    padding-top: 1.5rem;
}
@keyframes turn{
    0%{
        transform: scaleX(1);
    }
    25%{
        transform: scaleX(0);
    }
    50%{
        transform: scaleX(-1);
    }
    75%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
