@font-face {
    font-family: Noodles-Regular;
    src: url("../src/fonts/Noodles-Regular.ttf");
}
body{
    margin: 0;
    height: auto;
    position: relative;
}
header{
    height: 4rem;
    padding: 0 1rem 0 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: gainsboro;
}
.logo{
    height: 4rem;
    display: flex;
    gap: 2px;
}
.contacts{
    display: flex;
    gap: 1rem;   
}
.contacts button{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
}
header h3{
    font-family: Noodles-Regular;
    font-size: 3rem;
    position: relative;
    top: -38px;	
}
main{
    background-image: url("../src/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    position: relative;
}
.containerRigth{
    border-radius: 5%;
    background-color: gray;
    box-shadow: 3px 3px 10px 2px;
    opacity: 0.9;
    height: 90%;
    width: 90%;
    max-width: 400px;
    margin: 5%;
    animation-name: scaleY;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow-y: hidden;
    background: linear-gradient(black, gray);
    display: none;

}

    @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      .container{
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
      }
      .loading{
        display: grid;
        justify-content: center;
        align-items: center;
        border: 10px solid #f3f3f3; 
        border-top: 10px solid red;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        animation: spin 2s linear infinite;
        margin: 0 auto;
      
}
#text{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    animation-duration: 70s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    margin: 1rem;
    z-index: 1;
}
.containerLeft{
    border-radius: 5%;
    background-color: gray;
    opacity: 0.9;
    box-shadow: 3px 3px 10px 2px;
    height: 90%;
    width: 90%;
    max-width: 400px;
    margin: 5%;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    background: linear-gradient(black, gray);

}
.containerLeft button{
    margin: 3rem;
    border-radius: 10%;
    height: 50%;
    cursor: pointer;
    box-shadow: 3px 3px 10px 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
}
#btn1:hover{
    background-color: red;
    
}
#btn2:hover{
    background-color: red;
}
footer{
    background-color: gainsboro;
    height: 4rem;

}
footer p{
    text-align: center;
    opacity: 0.5;
    margin: 0;
    padding-top: 1.5rem;
}
#contentAboutMe{
    padding: 3.5rem 0 0 0;
    display: grid;
    justify-items: center;
}
#contentProjects{
    gap: 1rem;
    margin: 2rem;
    display: grid;
    justify-items: center;
}
.profile{
    border-radius: 50%;
    box-shadow: 3px 3px 10px 2px;
    position:static;
    z-index: 2;
}
#projectDescription{
    font-family: Arial, Helvetica, sans-serif;
}
figure{
    text-align: center;
    height: 20rem;
}
#projectImg{
    height: 15rem;
    width: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.emphasis{
    color: red;
}
#title{
    text-shadow: 0 0 0 #000;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    z-index:2;
}
@keyframes visibleR{
    0%{
        transform: scaleY(0);     
    }100%{
        transform: scaleY(1);
    }

}
@keyframes hiddenR {
    0%{
        transform: scaleY(1);     
    }100%{
        transform: scaleY(0);
    }
}
@keyframes textUp{
    to{
            transform: translateY(-100%);
    }
}
